extends ../layouts/common.pug

block content
  h1     
    span.mr-2 Users 
    a.btn.btn-primary(href="/users/create") New

  .d-flex.align-items-center
    form(action="/users/search",method="GET",class="d-flex")
      input(type="text",name='q',id='new-item',class="form-control")
      button(class="btn btn-primary ml-2") Search

  table.table
    tr
      th Name
      th Phone
      th Actions
      
    each user in users
      tr
        td=user.name
        td=user.phone
        td
          a.btn.btn-light(href="/users/"+user.id) View
  script. 
      var sessioninput=document.getElementById("new-item");   
      sessioninput.addEventListener('change',updateSession);
      sessioninput.value=sessionStorage.getItem('content');
      function updateSession(){
      sessionStorage.setItem('content',sessioninput.value);
      }
  //- 11 Khai báo 1 biến là session = id của input
  //- 12 Dùng phương thức listener có sự kiện là change cho biến vừa tạo ở 11
  //- 13 lấy giá trị trong sessionStorage để gán lại cho biến ở 11
  //- 14 set dữ liệu vào trong sessionStorage
    

    